# Your core .env file for everything PAI related
# Yours should be named .env (.env-example is just the example)
# Try your best not to store any keys for /commands, /agents, etc.in the files themselves, and have them refer to PAI_DIR/.env instead.

OPENAI_API_KEY="example-key-here"
SOME_OTHER_KEY="another-example-key-here"
KEEP_ADDING_MORE="yet-another-example-key-here"
